<h1>Edit Note</h1>

<div>
  <%= form_for :note, url: note_path(@note), method: :patch do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :text, :class => 'ckeditor', as: :ckeditor, id: "ckeditor_text_area"%>
    <%= f.collection_select :notepad_id, Notepad.all, :id, :title, prompt: true %>
    <%= f.label :pictures %>
    <%= f.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
    <%= f.submit "Create" %>
  <% end %>
</div>

<script>
        CKEDITOR.replace('ckeditor_text_area')
</script>
