<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <h1 class="page-header">My Notes
      </h1>
    </div>
  </div>

  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: key %>
  <% end %>

  <h2><%= link_to "Create new note", new_note_path, :class => 'btn btn-primary' %></h2>
  <br>
  <div class="well">
    <h4>Blog Search</h4>
    <%= search_form_for @q do |f| %>
    <div class="input-group">
      <%= f.search_field :title_or_text_cont, :placeholder => "Text or Title consist", :class => "form-control"%>
      <span class="input-group-btn">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </span>
    <% end %>
    <h4>Blog Sort</h4>
    <div class="btn btn-default">
      <%= sort_link(@q, :title)%>
    </div>
  </div>

  <div class="row">
    <% @notes.each do |note| %>
    <div class="col-md-4 portfolio-item">
      <h2><%= link_to note.title, note_path(note) %></h2>
      <%= raw note.text[0..200] %>
    </div>
    <% end %>
  </div>

  <hr>
    <%= paginate @notes %>
    <br>
    <%= page_entries_info @notes %>
</div>
</div>
