<h1>Create Notepad</h1>

<div>
  <%= form_for @notepad do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "Create" %>
  <% end %>
</div>

<%= link_to "Return", notepads_path(@notepad), :class => 'btb btn-default' %>


<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: key %>
<% end %>
